/* Box sizing rules */

html {
  box-sizing: border-box;
  font-size: min(1vw, 1vh);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: max(18px, 3.5rem);
  font-family: 'Dosis', san-serif, monospace;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* PROJECT CODE */

#outer-container, 
#inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid green;
}

#outer-container {
    min-width: 100vw;
    min-height: 100vh;
    background: hsl(130, 20%, 75%);
}

#inner-container {
    min-width: 95vw;
    min-height: 95vh;
    border-radius: 1rem;
    flex-direction: column;

    background: hsl(130, 20%, 15%);
    border: 3px solid hsl(130, 20%, 15%);
    box-shadow: inset 0 0 5px hsl(130, 20%, 55%),
                0 0 5px hsl(130, 20%, 10%);
}

#screen {
    min-height: 18vh;
    min-width: 70vw;
    font-size: max(18px, 4.5rem);
    font-weight: 700;
    background: hsl(90, 10%, 40%);
    color: black;
    border: 2px solid hsl(90, 20%, 30%);
    box-shadow: inset 0 0 5px hsl(90, 30%, 95%),
                2px 2px 15px hsl(90, 10%, 20%);
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-radius: 2rem;
}

.screen-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#current-equation {
    align-items: center;
    justify-content: end;
    background: hsl(90, 10%, 40%);
    border: 0;
}

#previous-answer {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    margin-right: 2rem;
}

.grid {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid hsl(130, 20%, 20%);
    box-shadow: 0 0 5px black;
}

.flex {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid hsl(130, 20%, 20%);
    box-shadow: 0 0 5px black;
}

#button-grid {
    min-width: 70vw;
    min-height: 70vh;
    max-height: 70vw;
    grid-template-areas: "nBtn nBtn nBtn oBtn"
                         "nBtn nBtn nBtn oBtn"
                         "nBtn nBtn nBtn oBtn"
                         "cBtn cBtn cBtn oBtn";

    background: hsl(130, 40%, 20%);
    transition: grid-template-areas 300ms ease-in-out,
                min-width 300ms ease-in-out;
}

#button-grid.expanded {
    min-width: 80vw;
    grid-template-areas: "nBtn nBtn nBtn oBtn oBtn"
                         "nBtn nBtn nBtn oBtn oBtn"
                         "nBtn nBtn nBtn oBtn oBtn"
                         "cBtn cBtn cBtn oBtn oBtn";
}

#number-grid {
    grid-area: nBtn;
    grid-template-columns: repeat(3, 1fr);
}

#operation-grid {
    grid-area: oBtn;
    grid-template-columns: repeat(2, 1fr);
    transition: grid-template-columns 300ms ease-in-out;
}

#operation-grid.extended {
    grid-template-columns: repeat(4, 1fr);
}

#control-flex {
    grid-area: cBtn;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn {
    min-width: 2.5em;
    min-height: 2.5em;
    font-size: max(20px, 5rem);
    font-weight: 700;
    text-align: center;
    justify-content: center;
    background: hsl(130, 50%, 6%);
    color: hsl(130, 40%, 90%);
    box-shadow: inset -1px -1px 10px hsl(130, 30%, 60%),
                1px 1px 5px hsl(130, 10%, 0%);
    border-radius: 1rem;
}

.control-btn {
    font-size: max(20px, 4rem);

}
/* Media Queries */
@media (width < 450px) {
    #operation-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .btn {
        min-height: 1.5em;
    }
}
